@import "variables";

.dropdown-menu {
  color: $white;
  background-color: darken($primary, 10%);

  .dropdown-item-text{
    color: $white;
  }
  .dropdown-item{
    color: $white;

    &.disabled{
      color: $gray-300;
    }
    &:not(.disabled):hover, &:not(.disabled):focus{
      color: darken($primary, 10%);
      background-color: $white;
    }
  }
  .dropdown-divider{
    border-color: $gray-500;
  }
}