<h2 class="margin-bottom-15">Change Password</h2>

<div class="card">
    <div class="card-body">
        <div class="form-group row">
            <label class="col-2 col-form-label" for="old-password">Old Password</label>
            <div class="col-4">
                <input type="password" class="form-control" id="old-password">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label" for="new-password">New Password</label>
            <div class="col-4">
                <input type="password" class="form-control" id="new-password">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label" for="confirm-password">Confirm Password</label>
            <div class="col-4">
                <input type="password" class="form-control" id="confirm-password">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">&nbsp;</label>
            <div class="col-4">
                <button type="button" class="btn btn-link" (click)="cancelPassword()">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="savePassword()">Save</button>
            </div>
        </div>
    </div>
</div>
